src/app/blog/post-thumbnail/post-thumbnail.component.pug
//
   Created by jeremydejno on 9/30/17.

.post.thumbnail
  .post-img(*ngIf="post.imgUrl")
    a(routerLinkActive="active", [routerLink]="['post', post.id]")
      img.img-thumbnail(src="{{post.imgUrl}}", style="background-image: linear-gradient(to bottom,#485563 0, rgba(61, 73, 84, 0.75) 100%);")
  .post-title-text
    a(routerLinkActive="active", [routerLink]="['post', post.id]")
      h3.title(style="margin-top: 0;") {{post.title}}
    h5.date {{post.date | date: 'longDate'}}
    p.snippet {{post.snippet}}

src/app/blog/post-thumbnail/post-thumbnail.component.html
<!--Created by jeremydejno on 9/30/17.
--><div class="post thumbnail"><div class="post-img" *ngIf="post.imgUrl"><a routerLinkActive="active" [routerLink]="['post', post.id]"><img class="img-thumbnail" src="{{post.imgUrl}}" style="background-image: linear-gradient(to bottom,#485563 0, rgba(61, 73, 84, 0.75) 100%);"/></a></div><div class="post-title-text"><a routerLinkActive="active" [routerLink]="['post', post.id]"><h3 class="title" style="margin-top: 0;">{{post.title}}</h3></a><h5 class="date">{{post.date | date: 'longDate'}}</h5><p class="snippet">{{post.snippet}}</p></div></div>
