src/app/projects/logo-animation/logo-animation.component.pug
//
   Created by jeremydejno on 10/1/17.

#anchorDiv(#anchorDiv="")
.container-fluid
  #description.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-12.col-xs-12(style="padding-top: 0; padding-bottom: 100px;")
    .page-header(style="margin-top: 0")
      h2.pull-left Logo Animation Service
        small| &nbsp; - D3, Angular 2, SVG
    .clearfix
    #details

    #code(#code="")

src/app/projects/logo-animation/logo-animation.component.html
<!--Created by jeremydejno on 10/1/17.
--><div id="anchorDiv" #anchorDiv=""></div><div class="container-fluid"><div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12" id="description" style="padding-top: 0; padding-bottom: 100px;"><div class="page-header" style="margin-top: 0;"><h2 class="pull-left">Logo Animation Service<small>&nbsp; - D3, Angular 2, SVG</small></h2></div><div class="clearfix"></div><div id="details"></div><div id="code" #code=""></div></div></div>
