src/app/projects/project.component.html
<!--Created by jeremydejno on 5/7/17.

--><div class="container-fluid text-center"><h1>Projects</h1><div class="row"><div class="container-fluid"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-thumbnail text-center" *ngFor="let project of projects"><div *ngIf="project"><h3>{{project.title}}</h3><a [routerLink]="['project', project.projectID]" routerLinkActive="active"><img class="img-project img-thumbnail" src="{{project.image}}" *ngIf="project.image !== undefined"/></a><div class="description"><p>{{project.description}}</p></div></div></div></div></div></div>

src/app/projects/project.component.pug
//
   Created by jeremydejno on 5/7/17.


.container-fluid.text-center
  h1 Projects
  .row
    .container-fluid
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.project-thumbnail.text-center(*ngFor="let project of projects")
        div(*ngIf="project")
          h3 {{project.title}}
          a([routerLink]="['project', project.projectID]", routerLinkActive="active")
            img.img-project.img-thumbnail(src="{{project.image}}", *ngIf="project.image !== undefined")
          .description
            p {{project.description}}
