src/app/projects/bitwise/bitwise.component.pug
//
   Created by jeremydejno on 9/4/17.
.row
  .container-fluid
    .col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
      .input-group
        input#bitwiseText.form-control(#expression="", placeholder="Enter your bitwise expression here...", type="text", (keyup.enter)="onEnter(expression.value)")
        span.add-on.input-group-addon enter to evaluate
      .container-fluid.center-block(*ngIf="parsedResults && parsedResults.length > 0")
        .text-center
          h3
            strong Operation Execution
        table.table.table-striped.table-bordered.table-responsive.table-condensed
          thead
            tr
              th Step Count
              th Executed Expression
              th Value
              th BitString
              th Hexadecimal
              th Reduced Expression
          tbody
            tr(*ngFor="let res of parsedResults")
              td {{res.index}}
              td {{res.expression}}
              td {{res.value}}
              td {{res.bitString}}
              td {{res.hexaDecimal}}
              td
                |{{res.leftCurExpression}}
                span(appHighlightExpression="")
                  u {{res.value}}
                |{{res.rightCurExpression}}

src/app/projects/bitwise/bitwise.component.html
<!--Created by jeremydejno on 9/4/17.--><div class="row"><div class="container-fluid"><div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1"><div class="input-group"><input class="form-control" id="bitwiseText" #expression="" placeholder="Enter your bitwise expression here..." type="text" (keyup.enter)="onEnter(expression.value)"/><span class="add-on input-group-addon">enter to evaluate</span></div><div class="container-fluid center-block" *ngIf="parsedResults &amp;&amp; parsedResults.length &gt; 0"><div class="text-center"><h3><strong>Operation Execution</strong></h3></div><table class="table table-striped table-bordered table-responsive table-condensed"><thead><tr><th>Step Count</th><th>Executed Expression</th><th>Value</th><th>BitString</th><th>Hexadecimal</th><th>Reduced Expression</th></tr></thead><tbody><tr *ngFor="let res of parsedResults"><td>{{res.index}}</td><td>{{res.expression}}</td><td>{{res.value}}</td><td>{{res.bitString}}</td><td>{{res.hexaDecimal}}</td><td>{{res.leftCurExpression}}<span appHighlightExpression=""><u>{{res.value}}</u></span>{{res.rightCurExpression}}</td></tr></tbody></table></div></div></div></div>
