src/app/blog/blog.component.pug
//
   Created by jeremydejno on 8/8/17.


.container-fluid
  .row
    .text-center(style="padding-bottom: 20px;")
      h1 Blog
    .col-lg-offset-3.col-lg-6.col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8.col-xs-offset-2.col-xs-8
      .posts-container(*ngFor="let post of posts", [@collapsePost]="post.expanded")
        app-post-thumbnail([post]="post", [expanded]="post.expanded")
    .categories.col-lg-offset-1.col-lg-2.col-md-2.col-sm-2.text-center
      h4.title Categories
      .text-primary
        p(*ngFor="let cat of categories")
          a((click)="filterPostsByCat($event)",
            [attr.data-category]="cat",
            href="javascript:void(0)") {{cat}}
      #current-category.row(*ngIf="filterCategories.size > 0")
        h5 Filter Criteria:
        button.btn.btn-xs.btn-default(*ngFor="let filterCat of filterCategories",
                                  [attr.data-category]="filterCat",
                                  (click)="clearPostCategoryFilter($event)")
          small| x
          |  {{filterCat}}

router-outlet

src/app/blog/blog.component.html
<!--Created by jeremydejno on 8/8/17.

--><div class="container-fluid"><div class="row"><div class="text-center" style="padding-bottom: 20px;"><h1>Blog</h1></div><div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8"><div class="posts-container" *ngFor="let post of posts" [@collapsePost]="post.expanded"><app-post-thumbnail [post]="post" [expanded]="post.expanded"></app-post-thumbnail></div></div><div class="categories col-lg-offset-1 col-lg-2 col-md-2 col-sm-2 text-center"><h4 class="title">Categories</h4><div class="text-primary"><p *ngFor="let cat of categories"><a (click)="filterPostsByCat($event)" [attr.data-category]="cat" href="javascript:void(0)">{{cat}}</a></p></div><div class="row" id="current-category" *ngIf="filterCategories.size &gt; 0"><h5>Filter Criteria:</h5><button class="btn btn-xs btn-default" *ngFor="let filterCat of filterCategories" [attr.data-category]="filterCat" (click)="clearPostCategoryFilter($event)"><small>x</small> {{filterCat}}</button></div></div></div></div><router-outlet></router-outlet>
