src/app/home/header/header.component.pug
//
   Created by jeremydejno on 7/13/17.

#header.jumbotron([@fadeIn]="true", [@blurIn]="true", #header="")
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12([@fadeIn]="true")
        div#header-img-anchor
        .text-center
          h3(style="padding-bottom: 20px") A Coding Playground Site. Join me in learning.
          .center-block
            .btn-group-sm
              button.header-button.btn.btn-default(style="margin-right: 20px") Contact
              button.header-button.btn.btn-default((click)="toggleResumePDF()") Resume

#resume.center-block.container-fluid([@expandHeight]="resumeAnimate", #resume="", style="overflow-y: hidden; height: 1200px;",
    (@expandHeight.done)="navigateToResume($event)")
  button.btn.btn-xs.btn-default.pull-right((click)="toggleResumePDF()") close
  embed(src="/assets/resume.pdf", height="1200", width="95%", type="application/pdf")

src/app/home/header/header.component.html
<!--Created by jeremydejno on 7/13/17.
--><div class="jumbotron" id="header" [@fadeIn]="true" [@blurIn]="true" #header=""><div class="container-fluid"><div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [@fadeIn]="true"><div id="header-img-anchor"></div><div class="text-center"><h3 style="padding-bottom: 20px;">A Coding Playground Site. Join me in learning.</h3><div class="center-block"><div class="btn-group-sm"><button class="header-button btn btn-default" style="margin-right: 20px;">Contact</button><button class="header-button btn btn-default" (click)="toggleResumePDF()">Resume</button></div></div></div></div></div></div></div><div class="center-block container-fluid" id="resume" [@expandHeight]="resumeAnimate" #resume="" style="overflow-y: hidden; height: 1200px;" (@expandHeight.done)="navigateToResume($event)"><button class="btn btn-xs btn-default pull-right" (click)="toggleResumePDF()">close</button><embed src="/assets/resume.pdf" height="1200" width="95%" type="application/pdf"/></div>
