src/app/home/about/about.component.pug
//
   Created by jeremydejno on 7/13/17.
#about.row([@fadeIn]="scrollFadeIn")
  .container-fluid
    .text-center
      h2
        strong Pro Volleyer => Coder
    .col-lg-8.col-md-8.col-sm-10.col-xs-10.col-lg-offset-2.col-md-offset-2.col-xs-offset-1.col-sm-offset-1([@blurIn]="blurIn")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        h3 Location&nbsp;
          small
            span.glyphicon.glyphicon-map-marker
        p &nbsp;&nbsp;Madison, Wisconsin
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .col-lg-6.col-md-6.col-sm-6.col-xs-6(style="padding: 0")
            h3 Socials
            p
              a(href="https://www.linkedin.com/in/jeremydejno/", target="_blank") &nbsp;&nbsp;LinkedIn
            p
              a(href="https://www.facebook.com/jeremy.dejno", target="_blank") &nbsp;&nbsp;Facebook
          .col-lg-6.col-md-6.col-sm-6.col-xs-6(style="padding: 0")
            h3 Coding
            p
              a(href="https://github.com/jmdejno", target="_blank") &nbsp;&nbsp;GitHub
            p
              a(href="https://leetcode.com/dejno/", target="_blank") &nbsp;&nbsp;LeetCode
        h3 Quote&nbsp;
          small
            span.glyphicon.glyphicon-text-background
        p &nbsp;&nbsp;"Slow is smooth, smooth is fast"
        h3 Current Obsession
        p &nbsp;&nbsp;Bullet Journal and Coding&nbsp;
          small
            span.glyphicon.glyphicon-book
          span &nbsp;&nbsp;and... this
            a(href="http://drinks.seriouseats.com/2012/01/thats-the-spirit-art-in-the-age-root-snap-and-rhuby-liqueurs-review.html", target="_blank") &nbsp;Root Liqueur
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.bio-pic
        br
        img.img-rounded.img-responsive.center-block(src="/../../../assets/images/jeremy-profile-pic.jpeg", style="width: 85%; height: auto;")
  .container-fluid
    .col-lg-8.col-md-8.col-sm-10.col-xs-10.col-lg-offset-2.col-md-offset-2.col-xs-offset-1.col-sm-offset-1
      h3 Contemplations
      p  &nbsp; -&nbsp;Learn, Master, Create.
      p &nbsp; -&nbsp;Diving Deep. I believe boredom is the result of not engaging fully in what is directly in front of us.
        | &nbsp;Curiosity is the ultimate antidote.
      p &nbsp;&nbsp;
#site-about.row.alt-row(#siteAbout="",[@fadeIn]="siteAboutFadeIn")
  .container-fluid
    .col-lg-10.col-md-10.col-sm-10.col-xs-10.col-lg-offset-1.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.site-about-inner
      .text-center(style="margin-bottom: 50px;")
        h2
          strong This Site
      .container-fluid
        .col-lg-4.col-md-4.col-sm-12.col-xs-12(style="margin-bottom: 20px;")
          img.img-responsive.center-block(src="" +
          "assets/images/success-not-linear.gif")
        .col-lg-8.col-md-8.col-sm-12.col-xs-12
          p
            | I am a developer in training
            i  and...
            | the process of learning is messy. This site is my playground. A place to showcase all the randomness that ensues during the path to mastery (and, in the beginning, just competency).
            | Some projects will be half-baked. Some will only be ideas. Others, if the muse calls, will be fully polished.
          p
            |I am here to learn. This site allows me to share. Hope you enjoy :)

src/app/home/about/about.component.html
<!--Created by jeremydejno on 7/13/17.--><div class="row" id="about" [@fadeIn]="scrollFadeIn"><div class="container-fluid"><div class="text-center"><h2><strong>Pro Volleyer => Coder</strong></h2></div><div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-xs-offset-1 col-sm-offset-1" [@blurIn]="blurIn"><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h3>Location&nbsp;<small><span class="glyphicon glyphicon-map-marker"></span></small></h3><p>&nbsp;&nbsp;Madison, Wisconsin</p><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0;"><h3>Socials</h3><p><a href="https://www.linkedin.com/in/jeremydejno/" target="_blank">&nbsp;&nbsp;LinkedIn</a></p><p><a href="https://www.facebook.com/jeremy.dejno" target="_blank">&nbsp;&nbsp;Facebook</a></p></div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0;"><h3>Coding</h3><p><a href="https://github.com/jmdejno" target="_blank">&nbsp;&nbsp;GitHub</a></p><p><a href="https://leetcode.com/dejno/" target="_blank">&nbsp;&nbsp;LeetCode</a></p></div></div><h3>Quote&nbsp;<small><span class="glyphicon glyphicon-text-background"></span></small></h3><p>&nbsp;&nbsp;"Slow is smooth, smooth is fast"</p><h3>Current Obsession</h3><p>&nbsp;&nbsp;Bullet Journal and Coding&nbsp;<small><span class="glyphicon glyphicon-book"></span></small><span>&nbsp;&nbsp;and... this<a href="http://drinks.seriouseats.com/2012/01/thats-the-spirit-art-in-the-age-root-snap-and-rhuby-liqueurs-review.html" target="_blank">&nbsp;Root Liqueur</a></span></p></div><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bio-pic"><br/><img class="img-rounded img-responsive center-block" src="/../../../assets/images/jeremy-profile-pic.jpeg" style="width: 85%; height: auto;"/></div></div></div><div class="container-fluid"><div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-xs-offset-1 col-sm-offset-1"><h3>Contemplations</h3><p> &nbsp; -&nbsp;Learn, Master, Create.</p><p>&nbsp; -&nbsp;Diving Deep. I believe boredom is the result of not engaging fully in what is directly in front of us.&nbsp;Curiosity is the ultimate antidote.</p><p>&nbsp;&nbsp;</p></div></div></div><div class="row alt-row" id="site-about" #siteAbout="" [@fadeIn]="siteAboutFadeIn"><div class="container-fluid"><div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-sm-offset-1 site-about-inner"><div class="text-center" style="margin-bottom: 50px;"><h2><strong>This Site</strong></h2></div><div class="container-fluid"><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 20px;"><img class="img-responsive center-block" src="assets/images/success-not-linear.gif"/></div><div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><p>I am a developer in training<i> and...</i>the process of learning is messy. This site is my playground. A place to showcase all the randomness that ensues during the path to mastery (and, in the beginning, just competency).
Some projects will be half-baked. Some will only be ideas. Others, if the muse calls, will be fully polished.</p><p>I am here to learn. This site allows me to share. Hope you enjoy :)</p></div></div></div></div></div>
